<h3 class="text-center mb-5 mt-5">Só Vamu Tech</h3>

<div class="row mb-4">
  <!-- <div class="col-md">PESQUISA AQUI</div> [(ngModel)]="filter"-->
  <input class="col-md" type="text" name="search" id="search" placeholder="Buscar por nome, idade, etc">
  



  <div class="col-md">
    <a routerLink="new" class="btn btn-success">Cadastrar</a>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Profissão</th>
      <th>Cidade de nascimento</th>
      <th>Peso</th>
      <th>Aniversário</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let data of dados">
      <th>{{ data.name }}</th>
      <th>{{ data.age }}</th>
      <th>{{ data.occupation }}</th>
      <th>{{ data.city }}</th>
      <th>{{ data.weight }}</th>
      <th>{{ data.birthday }}</th>
      <th>
        <a [routerLink]="[data.id, 'edit']" class="btn btn-outline-info btn-sm"
          >Editar</a
        >
        <button (click)="deleteData(data)" class="btn btn-outline-danger btn-sm"
          >Apagar</button
        >
      </th>
    </tr>
  </tbody>
</table>
